<%- include("header") %>
    <main > 
      <div>
        <p>Search</p>
      </div>
      <div class="culture" style="margin-left: 25%;margin-top:10%;">
        
        <h1 style="font-size: 70px;">Mádenıet</h1>
        
        <p style="font-family: AvenirNextLTW01-Regular,Tahoma,sans-serif;">the ideas, customs, and social behaviour of a particular people or society.</p>
      
       
      </div>
       <div class="aaaa" style="margin-left: 16%;">
       <img  style="width: 1250px;" src="img/photo_2022-04-22_01-39-56_auto_x2.png" >
        </div>
        
        
        <section class="landing" style="margin-left: 25%;margin-top:6.5%;width: 1500px;">
          
          <div class="row">
              <div class="landing-left col-lg-3">
                <h4 class="landing-left">Kazakh Culture</h4>
                  <p> Kazakh culture is largely influenced by the Turkic nomadic lifestyle. Kazakh culture seems also to be strongly influenced by the nomadic Scythians.

                    Because animal husbandry was central to the Kazakhs' traditional lifestyle, most of their nomadic practices and customs relate in some way to livestock. </p>
              </div>
              <div class="landing-right col-lg-5">
                  <img src="img/yurt (1).jpg"  class="img-fluid" alt="Responsive image" >
              </div>
          </div>
      </section>
      <section class="landing" style="margin-left: 25%;">
          
          <br>
          <div class="row ">
              <div class="landing-left col-lg-7">
                  <img src="img/horse.jpg" class="img-fluid" alt="Responsive image">
              </div>
              <div class="landing-right col-lg-4">
                <h4 class="landing-left">Horse in Kazakh culture</h4>
                  <p>A horse took the most important place among four species of domestic animals in everyday life of Kazakh people. It is not surprising because a horse was used as a means of transportation, an owner’s friend, a measure of wealth, nurture, an article of clothing and even had some healing power. 

                    There are some folk sayings And proverbs about horse: «Arystan an patshasy, zhylky — mal patshasy» — «A lion is a king of the beasts, a horse is a king of domestic animals», «Er kanaty — at», «Batyr’s wing is a horse», «Zhigittin sorlysyn, attyn zholdysy tenestiredi»- «A lucky horse rescues an unfortunate man». 
                   
                   
                   
                  </p>
          </div>
      </section>
      <section class="landing" style="margin-left: 25%;margin-top:5%;width: 1500px;">
          
        <div class="row">
            <div class="landing-left col-lg-3">
              <h4 class="landing-left">Art</h4>
                <p>Each year Kazakh artisans participate in the "Sheber" competition. The competition is part of the program "Development of crafts and the revival of folk arts and crafts in Kazakhstan", which began in 2006 to increase the competitiveness of Kazakh artisans’ products domestically and internationally. This program is conducted by the Union of Artisans of Kazakhstan, "Chevron", the Eurasia Foundation of Central Asia, Kazakh Ministry of Culture and Information and the UNESCO Cluster Office in Almaty.[8]</p>
            </div>
            <div class="landing-right col-lg-5">
                <img src="img/art.jpg"  class="img-fluid" alt="Responsive image" >
            </div>
        </div>
    </section>
    <section class="landing" style="margin-left: 25%;">
        
        <br>
        <div class="row ">
            <div class="landing-left col-lg-7">
                <img id="dombyra" src="img/dombyra.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="landing-right col-lg-4">
              <h4 class="landing-left">The dombra sounds the soul sings</h4>
                <p>From the 12th to the 18th century, the dumbura was used by Bashkir sasans to accompany their poetic legends and kubairs. It is mentioned in the epic poem "Zayatulyak and Hiuhiliu". However, by the beginning of the 20th century, the dumbura was forgotten. The sasans were often the main ideologists of ethnic insurrections, so when the Russian administration put down an uprising, they punished the dumbura sasans and destroyed their dumbura.[citation needed] In the second half of the 20th century, several reconstructions were carried out. </p>
                <audio controls style="margin-top: 5%;">
      <source src="muz/куй - Адай.mp3" type="audio/mp3">
    </audio>
  </div>
        </div>
    </section>
    <div class="solid"></div>
    <div class="footer-basic" style="margin-left: 15%;">
          
      <div class="social"><a href="https://www.instagram.com/"><i class="icon ion-social-instagram"></i></a><a href="https://ru.linkedin.com/"><i class="icon ion-social-linkedin"></i></a><a href="https://twitter.com"><i class="icon ion-social-twitter"></i></a><a href="https://ru-ru.facebook.com/"><i class="icon ion-social-facebook"></i></a></div>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Services</a></li>
          <li class="list-inline-item"><a href="#">About</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul>
      <p class="copyright">Shanyraq © 2022</p>
  
</div>
      

  </main>   
  <script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="js/theme.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

